form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  button {
    align-self: unset;
  }
  .button-box {
    display: flex;
    margin: 0;
    button {
      margin-top: 0;
      width: 50%;
    }
  }
}
